@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<form asp-controller="Drivers" asp-action="FindNearestDriver" method="post">
    <label for="latitude">Enter pickup latitude:</label><br>
    <input type="text" id="latitude" name="latitude"><br><br>
    <label for="longitude">Enter pickup longitude:</label><br>
    <input type="text" id="longitude" name="longitude"><br><br>
    <input type="submit" value="Submit" id="submitButton">
</form>
